<div class="row">
	<h4>Data from our latest report: <%= link_to @latest_report.title, report_path(@latest_report.id) %></h4>
	<ul class="small-block-grid-3">

		<%@latest_report.questions.first(6).each do |question| %>
			<li class="card">
				<%= high_chart("responses", @chart) %>

			</li>
		<%end%>

	</ul>
</div>
<div class="row">
	<h4>See All Reports</h4>
	<h5>2014</h5>
	<div class="large-6 columns">
		<p><%= link_to @sharing_economy.title, report_path(@sharing_economy.id) %></p>
		<p><%= @sharing_economy.description %></p>
	</div>
</div>
<div class="row">
	<br>
	<h5>2013</h5>
	<div class="large-6 columns">
		<p><%= link_to @brand_relevance.title, report_path(@brand_relevance.id) %></p>
		<p><%= @brand_relevance.description %></p>
	</div>
</div>