<div class="row">
	<h4>Data from our latest report: <%= link_to @latest_report.title, report_path(@latest_report.id) %></h4>
	<ul class="small-block-grid-2">
	<% idx = 0 %>
	<% @latest_report.questions.first(4).each do |question| %>
		<% idx += 1 %>

		<li>
			<%= link_to question_path(question.id) do %>
			<span id="chart_<%= idx.to_s %>">
			<%= high_chart("chart_"+idx.to_s, @charts[idx]) %>
			</span>
			<% end %>
			
		</li>
	<% end %>

	</ul>
</div>
<div class="row">
	<h4>See All Reports</h4>
	<h5>2014</h5>
	<div class="large-6 columns">
		<p><%= link_to @sharing_economy.title, report_path(@sharing_economy.id) %></p>
		<p><%= @sharing_economy.description %></p>
	</div>
</div>
<div class="row">
	<br>
	<h5>2013</h5>
	<div class="large-6 columns">
		<p><%= link_to @brand_relevance.title, report_path(@brand_relevance.id) %></p>
		<p><%= @brand_relevance.description %></p>
	</div>
</div>